.hbTest {
  height: 750px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.item{
  background-color:rgba(255,255,255,0.8);
}

.partner{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}

h4{
  text-align:center;
  margin-top: 1em;
  margin-bottom: 1em;
}


.thumbnail-img{
    width: 200px;
    height: 200px;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}
.thumbnail-text {
  width: 200px;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
