.hbTest {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

div#partnersCatalog {
  margin-left: 30%;
}

object#catalogJe{
  height: 350px;
}

-section1{
  width: 100%;
  background-image: url("../../../assets/img/products/1.jpeg");
}

h4{
  text-align:center;
}


.thumbnail{
    width: 200px;
    height: 200px;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
